.register-form .container-center {
    max-width: 400px;
    padding: 30px 0px;
}

/* Hearder */
.header-register-form .image {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header-register-form .title {
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

/* Footer */
.footer-register-form {
    padding-top: 5px;
}

.footer-register-form .show {
    display: block;
}

.footer-register-form .hidden {
    display: none;
}

.footer-register-form .info-notification {
    color: blue;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-register-form label {
    font-size: 15px;
    font-weight: 600;
}

.footer-register-form .input-password,
.footer-register-form .input-re-enter-password {
    position: relative;
}

.footer-register-form input {
    width: 95%;
    height: 25px;
    padding: 0 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #8e9eab;
}

.footer-register-form .message-notification {
    color: #cc3300;
    margin-bottom: 5px;
    font-size: 13px;
}

.footer-register-form .input-password svg,
.input-re-enter-password svg {
    font-size: 18px;
    position: absolute;
    top: 9px;
    right: 7px;
    cursor: pointer;
}

.footer-register-form .register {
    padding-top: 10px;
}

.footer-register-form .register .forget-password {
    font-style: italic;
}

.footer-register-form span {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.footer-register-form .register .button-register {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    background: linear-gradient(-170deg, #eef2f3, #8e9eab);
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    line-height: 35px;
}

.footer-register-form .register .button-register:hover {
    background: #fffa37;
    color: #000000;
}

.footer-register-form .register .button-register .spinner-image {
    height: 38px;
}