.account-form .container-center {
    padding: 30px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.account-form.show {
    visibility: visible;
}

.account-form .hide {
    visibility: hidden;
}

/* Account left */
.account-left {
    flex: 0 0 25%;
    max-width: 25%;
}

.account-left .title {
    font-size: 30px;
    font-weight: 700;
}

.account-left .account-list {
    padding: 15px 0 0 15px;
    font-size: 20px;
}

.account-left .account-list li {
    height: 20px;
    list-style: none;
    padding: 8px 0;
}

.account-left .account-list li:first-child {
    font-size: 22px;
}

.account-left .account-list li:first-child a {
    font-weight: 600;
}

.account-left .account-list li:hover {
    font-size: 22px;
}

.account-left .account-list li svg {
    height: 15px;
}

.account-left .account-list li a {
    text-decoration: none;
    color: #000000;
}

.account-line {
    background-color: #000000;
    width: 5px;
}

/* Account right */
.account-right {
    flex: 0 0 73%;
    max-width: 73%;
}

.account-right .account-right-top {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.account-right .account-right-top svg {
    height: 16px;
}

.account-right .account-right-center {
    display: flex;
}

.account-right .account-right-center .title {
    width: 25%;
    margin-left: 15%;
    font-weight: 700;
}

.account-right .account-right-center .title p {
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 24px;
}

.account-right .account-right-center .input {
    width: 80%;
}

.account-right .account-right-center .input input {
    color: #000000;
    width: 85%;
    height: 25px;
    padding: 0 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #8e9eab;
}

.account-right .account-right-center .input .warning {
    border-color: #cc3300;
}

.account-right .account-message {
    margin-left: 16.6%;
    color: #cc3300;
    font-size: 13px;
    height: 13px;
}

.account-right .account-right-bottom {
    text-align: right;
    margin: 5px 50px 0 0;
}

.account-right .account-right-bottom button {
    cursor: pointer;
    height: 30px;
    width: 150px;
    color: #000000;
    border: 2px solid #000000;
    background: linear-gradient(-170deg, #eef2f3, #8e9eab);
    border-radius: 5px;
}

.account-right .account-right-bottom button:hover {
    background: #fffa37;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}