.change-password-form .container-center {
    padding: 30px 0px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* change-password left */
.change-password-left {
    flex: 0 0 25%;
    max-width: 25%;
}

.change-password-left .title {
    font-size: 30px;
    font-weight: 700;
}

.change-password-left .change-password-list {
    padding: 15px 0 0 15px;
    font-size: 20px;
}

.change-password-left .change-password-list li {
    height: 20px;
    list-style: none;
    padding: 8px 0;
}

.change-password-left .change-password-list li:nth-child(2) {
    font-size: 22px;
}

.change-password-left .change-password-list li:nth-child(2) a {
    font-weight: 600;
}

.change-password-left .change-password-list li:hover {
    font-size: 22px;
}

.change-password-left .change-password-list li svg {
    height: 15px;
}

.change-password-left .change-password-list li a {
    text-decoration: none;
    color: #000000;
}

.change-password-line {
    background-color: #000000;
    width: 5px;
}

/* Account right */
.change-password-right {
    flex: 0 0 73%;
    max-width: 73%;
}

.change-password-right .change-password-right-top {
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.change-password-right .change-password-right-top svg {
    height: 16px;
}

.change-password-right .change-password-right-center {
    display: flex;
}

.change-password-right .change-password-right-center .title {
    width: 35%;
    margin-left: 15%;
    font-weight: 700;
}

.change-password-right .change-password-right-center .title p {
    padding: 0 10px;
    margin: 12px 0 29px 0;
}

.change-password-right .change-password-right-center .input {
    width: 80%;
}

.change-password-right .change-password-right-center .present-pass,
.new-pass,
.renew-pass {
    position: relative;
}

.change-password-right .change-password-right-center .input svg {
    font-size: 18px;
    position: absolute;
    top: 14px;
    right: 116px;
    cursor: pointer;
}

.change-password-right .change-password-right-center .input input {
    margin-bottom: 15px;
    width: 70%;
    height: 25px;
    padding: 0 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid #8e9eab;
}

.change-password-right .change-password-right-bottom {
    text-align: right;
    margin: 5px 50px 0 0;
}

.change-password-right .change-password-right-bottom button {
    cursor: pointer;
    height: 30px;
    width: 150px;
    color: #000000;
    border: 2px solid #000000;
    background: linear-gradient(-170deg, #eef2f3, #8e9eab);
    border-radius: 5px;
}

.change-password-right .change-password-right-bottom button:hover {
    background: #fffa37;
    color: #000000;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}