#add-edit-user-modal {
    width: 350px;
    height: 100%;
    overflow-x: auto;
    position: absolute;
    top: -19px;
    right: -17px;
    border-radius: 0 !important;
}

.show {
    visibility: visible;
}

.hidden {
    visibility: hidden;
    display: block;
}

.add-edit-user-header {
    display: flex;
    justify-content: center;
}

.add-edit-user-header .icon-edit {
    position: relative;
    top: 6px;
    margin-left: 5px;
}

.add-edit-user-header .close-icon {
    text-align: end;
    position: absolute;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.add-edit-user-center {
    padding-top: 10px;
}

.add-edit-user-center p {
    font-size: 15px;
    font-weight: 600;
}

.add-edit-user-center .warning {
    color: #cc3300;
    font-size: 13px;
    height: 13px;
    margin: 1px 0 3px 0;
}

.add-edit-user-center strong {
    color: rgb(204, 51, 0);
}

.add-edit-user-center input {
    width: 95%;
    height: 25px;
    padding: 0 10px;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid #8e9eab;
}

.add-edit-user-center .form-pass,
.form-re-pass {
    position: relative;
}

.add-edit-user-center .form-pass svg,
.form-re-pass svg {
    position: absolute;
    top: 26px;
    right: 7px;
    cursor: pointer;
}

.add-edit-user-center select {
    height: 25px;
    padding: 0 10px;
    margin-top: 3px;
    border-radius: 5px;
    border: 1px solid #8e9eab;
}

.add-edit-user-footer {
    height: 30px;
    margin-bottom: 10px;
}

.add-edit-user-footer .cancel {
    width: 100px;
    height: 30px;
    position: absolute;
    right: 120px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #ff0040;
}

.add-edit-user-footer .ok {
    width: 100px;
    height: 30px;
    position: absolute;
    right: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #00ff40;
}

.add-edit-user-footer .ok img{
    height: 27px;
}

.add-edit-user-footer .cancel:hover,
.ok:hover {
    background: #fffa37;
    color: #000000;
}