.login-form .container-center {
    max-width: 400px;
    padding: 30px 0px;
}

/* Hearder */
.header-login-form .image {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.header-login-form .title {
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

/* Footer */
.footer-login-form {
    padding-top: 5px;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

.footer-login-form label {
    font-size: 15px;
    font-weight: 600;
}

.footer-login-form .input-password {
    position: relative;
}

.footer-login-form input {
    width: 95%;
    height: 25px;
    padding: 0 10px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #8e9eab;
}

.message-notification {
    color: #cc3300;
    margin-bottom: 5px;
    font-size: 13px;
}

.footer-login-form .input-password svg {
    font-size: 18px;
    position: absolute;
    top: 9px;
    right: 7px;
    cursor: pointer;
}

.footer-login-form .login-forget {
    padding-top: 10px;
    height: 70px;
}

.footer-login-form .login-forget .forget-password {
    cursor: pointer;
    font-style: italic;
}

.footer-login-form .login-forget .forget-password:hover {
    color: blue;
}

.footer-login-form .login-forget .button-login {
    float: right;
    margin-right: 5px;
    width: 200px;
    height: 40px;
    background: linear-gradient(-170deg, #eef2f3, #8e9eab);
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.footer-login-form .login-forget .button-login:hover {
    background: #fffa37;
    color: #000000;
}

.footer-login-form .line {
    background: #000000;
    width: 100%;
    height: 1px;
}

.footer-login-form span {
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.footer-login-form .register .button-register {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    border: 2px solid #000000;
    background: #fffa37;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    line-height: 35px;
}

.footer-login-form .register .button-register:hover {
    background: #FFD700;
    color: #ffffff;
}